<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Movie Doc</title>
    <link rel="stylesheet" href="/public/css/main.css"
        crossorigin="anonymous">
</head>
<body>
    <main class="container">
        <h1>Moive</h1>
                {{{body}}}
    </main>
<footer>
  <p>Posted by: Shengjie Hu</p>
  <p>student ID: 10414302</p>
  <p>Contact information: <a href="mailto:someone@example.com">shu14@stevens.edu</a>.</p>
</footer>
</body>
</html>